
.DS_Store
basic_scripts/TCGA-LGG
basic_scripts/TCGA-COAD

basic_scripts/tcga_projects.csv
basic_scripts/TCGA-*
basic_scripts/TARGET-*
.DS_Store
basic_scripts/.Rhistory
.DS_Store
*.maf
basic_scripts/MANIFEST.txt
project_data/TCGA-BRCA/df_gene.csv
project_data/TCGA-BRCA/df_gene_scale.csv
project_data/TCGA-BRCA/df_snv_class_muse.csv
project_data/TCGA-BRCA/df_snv_class_mutect.csv
project_data/TCGA-BRCA/df_snv_class_somaticsniper.csv
project_data/TCGA-BRCA/df_snv_class_varscan.csv
project_data/TCGA-BRCA/df_snv_type_muse.csv
project_data/TCGA-BRCA/df_snv_type_mutect.csv
project_data/TCGA-BRCA/df_snv_type_somaticsniper.csv
project_data/TCGA-BRCA/df_snv_type_varscan.csv
project_data/TCGA-BRCA/df_survival.csv
project_data/TCGA-LUAD/df_gene.csv
project_data/TCGA-LUAD/df_gene_scale.csv
project_data/TCGA-LUAD/df_snv_class_muse.csv
project_data/TCGA-LUAD/df_snv_class_mutect.csv
project_data/TCGA-LUAD/df_snv_class_somaticsniper.csv
project_data/TCGA-LUAD/df_snv_class_varscan.csv
project_data/TCGA-LUAD/df_snv_type_muse.csv
project_data/TCGA-LUAD/df_snv_type_mutect.csv
project_data/TCGA-LUAD/df_snv_type_somaticsniper.csv
project_data/TCGA-LUAD/df_snv_type_varscan.csv
project_data/TCGA-LUAD/df_survival.csv
project_data/TCGA-LUAD/df_cnv.csv
project_data/TCGA_LUSC/df_cnv.csv
project_data/TCGA_LUSC/df_cnv_scale.csv
project_data/TCGA_LUSC/df_gene.csv
project_data/TCGA_LUSC/df_gene_scale.csv
project_data/TCGA_LUSC/df_mir.csv
project_data/TCGA_LUSC/df_mir_scale.csv
project_data/TCGA_LUSC/df_snv_class_muse.csv
project_data/TCGA_LUSC/df_snv_class_mutect.csv
project_data/TCGA_LUSC/df_snv_class_somaticsniper.csv
project_data/TCGA_LUSC/df_snv_class_varscan.csv
project_data/TCGA_LUSC/df_snv_type_muse.csv
project_data/TCGA_LUSC/df_snv_type_mutect.csv
project_data/TCGA_LUSC/df_snv_type_somaticsniper.csv
project_data/TCGA_LUSC/df_snv_type_varscan.csv
project_data/TCGA_LUSC/df_survival.csv
project_data/TCGA-LUAD/df_mir_scale.csv
project_data/TCGA-LUAD/df_mir.csv
project_data/TCGA-LUAD/df_cnv_scale.csv
project_data/TCGA-LUSC/df_cnv.csv
project_data/TCGA-LUSC/df_cnv_scale.csv
project_data/TCGA-LUSC/df_gene.csv
project_data/TCGA-LUSC/df_gene_scale.csv
project_data/TCGA-LUSC/df_mir.csv
project_data/TCGA-LUSC/df_mir_scale.csv
project_data/TCGA-LUSC/df_snv_class_muse.csv
project_data/TCGA-LUSC/df_snv_class_mutect.csv
project_data/TCGA-LUSC/df_snv_class_somaticsniper.csv
project_data/TCGA-LUSC/df_snv_class_varscan.csv
project_data/TCGA-LUSC/df_snv_type_muse.csv
project_data/TCGA-LUSC/df_snv_type_mutect.csv
project_data/TCGA-LUSC/df_snv_type_somaticsniper.csv
project_data/TCGA-LUSC/df_snv_type_varscan.csv
project_data/TCGA-LUSC/df_survival.csv
basic_scripts/eVITTA_test/df_design_all.rds
basic_scripts/eVITTA_test/df_design_gender.rds
basic_scripts/eVITTA_test/df_gene_all.rds
basic_scripts/eVITTA_test/df_gene_gender.rds
basic_scripts/TCGA-BRCA
basic_scripts/TCGA-CHOL
basic_scripts/TCGA-UCEC
