
.DS_Store
basic_scripts/TCGA-LGG
basic_scripts/TCGA-COAD

basic_scripts/tcga_projects.csv
basic_scripts/TCGA-*
basic_scripts/TARGET-*
.DS_Store
basic_scripts/.Rhistory
.DS_Store
*.maf
basic_scripts/MANIFEST.txt
project_data/TCGA-BRCA/df_gene.csv
project_data/TCGA-BRCA/df_gene_scale.csv
project_data/TCGA-BRCA/df_snv_class_muse.csv
project_data/TCGA-BRCA/df_snv_class_mutect.csv
project_data/TCGA-BRCA/df_snv_class_somaticsniper.csv
project_data/TCGA-BRCA/df_snv_class_varscan.csv
project_data/TCGA-BRCA/df_snv_type_muse.csv
project_data/TCGA-BRCA/df_snv_type_mutect.csv
project_data/TCGA-BRCA/df_snv_type_somaticsniper.csv
project_data/TCGA-BRCA/df_snv_type_varscan.csv
project_data/TCGA-BRCA/df_survival.csv
project_data/TCGA-LUAD/df_gene.csv
project_data/TCGA-LUAD/df_gene_scale.csv
project_data/TCGA-LUAD/df_snv_class_muse.csv
project_data/TCGA-LUAD/df_snv_class_mutect.csv
project_data/TCGA-LUAD/df_snv_class_somaticsniper.csv
project_data/TCGA-LUAD/df_snv_class_varscan.csv
project_data/TCGA-LUAD/df_snv_type_muse.csv
project_data/TCGA-LUAD/df_snv_type_mutect.csv
project_data/TCGA-LUAD/df_snv_type_somaticsniper.csv
project_data/TCGA-LUAD/df_snv_type_varscan.csv
project_data/TCGA-LUAD/df_survival.csv
project_data/TCGA-LUAD/df_cnv.csv
project_data/TCGA_LUSC/df_cnv.csv
project_data/TCGA_LUSC/df_cnv_scale.csv
project_data/TCGA_LUSC/df_gene.csv
project_data/TCGA_LUSC/df_gene_scale.csv
project_data/TCGA_LUSC/df_mir.csv
project_data/TCGA_LUSC/df_mir_scale.csv
project_data/TCGA_LUSC/df_snv_class_muse.csv
project_data/TCGA_LUSC/df_snv_class_mutect.csv
project_data/TCGA_LUSC/df_snv_class_somaticsniper.csv
project_data/TCGA_LUSC/df_snv_class_varscan.csv
project_data/TCGA_LUSC/df_snv_type_muse.csv
project_data/TCGA_LUSC/df_snv_type_mutect.csv
project_data/TCGA_LUSC/df_snv_type_somaticsniper.csv
project_data/TCGA_LUSC/df_snv_type_varscan.csv
project_data/TCGA_LUSC/df_survival.csv
project_data/TCGA-LUAD/df_mir_scale.csv
project_data/TCGA-LUAD/df_mir.csv
project_data/TCGA-LUAD/df_cnv_scale.csv
project_data/TCGA-LUSC/df_cnv.csv
project_data/TCGA-LUSC/df_cnv_scale.csv
project_data/TCGA-LUSC/df_gene.csv
project_data/TCGA-LUSC/df_gene_scale.csv
project_data/TCGA-LUSC/df_mir.csv
project_data/TCGA-LUSC/df_mir_scale.csv
project_data/TCGA-LUSC/df_snv_class_muse.csv
project_data/TCGA-LUSC/df_snv_class_mutect.csv
project_data/TCGA-LUSC/df_snv_class_somaticsniper.csv
project_data/TCGA-LUSC/df_snv_class_varscan.csv
project_data/TCGA-LUSC/df_snv_type_muse.csv
project_data/TCGA-LUSC/df_snv_type_mutect.csv
project_data/TCGA-LUSC/df_snv_type_somaticsniper.csv
project_data/TCGA-LUSC/df_snv_type_varscan.csv
project_data/TCGA-LUSC/df_survival.csv
basic_scripts/eVITTA_test/df_design_all.rds
basic_scripts/eVITTA_test/df_design_gender.rds
basic_scripts/eVITTA_test/df_gene_all.rds
basic_scripts/eVITTA_test/df_gene_gender.rds
basic_scripts/eVITTA_test/coefs.rds
basic_scripts/eVITTA_test/degs.rds
basic_scripts/eVITTA_test/degss.rds
basic_scripts/TCGA-BRCA
basic_scripts/TCGA-CHOL
basic_scripts/TCGA-UCEC
inc/project_data/project_name.csv
inc/project_data/TCGA-LUAD/df_cnv.csv
inc/project_data/TCGA-LUAD/df_cnv_scale.csv
inc/project_data/TCGA-LUAD/df_gene.csv
inc/project_data/TCGA-LUAD/df_gene_scale.csv
inc/project_data/TCGA-LUAD/df_mir.csv
inc/project_data/TCGA-LUAD/df_mir_scale.csv
inc/project_data/TCGA-LUAD/df_snv_class_muse.csv
inc/project_data/TCGA-LUAD/df_snv_class_mutect.csv
inc/project_data/TCGA-LUAD/df_snv_class_somaticsniper.csv
inc/project_data/TCGA-LUAD/df_snv_class_varscan.csv
inc/project_data/TCGA-LUAD/df_snv_type_muse.csv
inc/project_data/TCGA-LUAD/df_snv_type_mutect.csv
inc/project_data/TCGA-LUAD/df_snv_type_somaticsniper.csv
inc/project_data/TCGA-LUAD/df_snv_type_varscan.csv
inc/project_data/TCGA-LUAD/df_survival.csv
inc/project_data/TCGA-LUSC/df_cnv.csv
inc/project_data/TCGA-LUSC/df_cnv_scale.csv
inc/project_data/TCGA-LUSC/df_gene.csv
inc/project_data/TCGA-LUSC/df_gene_scale.csv
inc/project_data/TCGA-LUSC/df_mir.csv
inc/project_data/TCGA-LUSC/df_mir_scale.csv
inc/project_data/TCGA-LUSC/df_snv_class_muse.csv
inc/project_data/TCGA-LUSC/df_snv_class_mutect.csv
inc/project_data/TCGA-LUSC/df_snv_class_somaticsniper.csv
inc/project_data/TCGA-LUSC/df_snv_class_varscan.csv
inc/project_data/TCGA-LUSC/df_snv_type_muse.csv
inc/project_data/TCGA-LUSC/df_snv_type_mutect.csv
inc/project_data/TCGA-LUSC/df_snv_type_somaticsniper.csv
inc/project_data/TCGA-LUSC/df_snv_type_varscan.csv
inc/project_data/TCGA-LUSC/df_survival.csv
project_data/project_name.csv
project_data/depmap/df_gene.csv
project_data/depmap/df_gene.csv
basic_scripts/df_gene.csv
project_data/DepMap/df_snv_class.csv
.DS_Store

www/project_data/DepMap/ccle.csv
www/project_data/DepMap/DepMap-CRISPR.csv
www/project_data/DepMap/df_gene.csv
www/project_data/DepMap/df_gene_scale.csv
www/project_data/project_name.csv
www/project_data/TARGET_existing_data.csv
www/project_data/TCGA-LUAD/df_cnv.csv
www/project_data/TCGA-LUAD/df_cnv_scale.csv
www/project_data/TCGA-LUAD/df_gene.csv
www/project_data/TCGA-LUAD/df_gene_scale.csv
www/project_data/TCGA-LUAD/df_mir.csv
www/project_data/TCGA-LUAD/df_mir_scale.csv
www/project_data/TCGA-LUAD/df_snv_class_muse.csv
www/project_data/TCGA-LUAD/df_snv_class_mutect.csv
www/project_data/TCGA-LUAD/df_snv_class_somaticsniper.csv
www/project_data/TCGA-LUAD/df_snv_class_varscan.csv
www/project_data/TCGA-LUAD/df_snv_type_muse.csv
www/project_data/TCGA-LUAD/df_snv_type_mutect.csv
www/project_data/TCGA-LUAD/df_snv_type_somaticsniper.csv
www/project_data/TCGA-LUAD/df_snv_type_varscan.csv
www/project_data/TCGA-LUAD/df_survival.csv
www/project_data/TCGA-LUAD/df_survival_o.csv
www/project_data/TCGA-LUSC/df_cnv.csv
www/project_data/TCGA-LUSC/df_cnv_scale.csv
www/project_data/TCGA-LUSC/df_gene.csv
www/project_data/TCGA-LUSC/df_gene_scale.csv
www/project_data/TCGA-LUSC/df_mir.csv
www/project_data/TCGA-LUSC/df_mir_scale.csv
www/project_data/TCGA-LUSC/df_snv_class_muse.csv
www/project_data/TCGA-LUSC/df_snv_class_mutect.csv
www/project_data/TCGA-LUSC/df_snv_class_somaticsniper.csv
www/project_data/TCGA-LUSC/df_snv_class_varscan.csv
www/project_data/TCGA-LUSC/df_snv_type_muse.csv
www/project_data/TCGA-LUSC/df_snv_type_mutect.csv
www/project_data/TCGA-LUSC/df_snv_type_somaticsniper.csv
www/project_data/TCGA-LUSC/df_snv_type_varscan.csv
www/project_data/TCGA-LUSC/df_survival.csv
www/project_data/tcga_codes.tsv
www/project_data/DepMap/df_snv_class.csv
www/project_data/TCGA-LUAD/df_snv_class_977.csv
cox_dm
www/project_data/977/flagged_cases.tsv
www/favicon.ico
www/favicon-32x32.png
www/favicon-16x16.png
www/apple-touch-icon.png
www/android-chrome-512x512.png
www/android-chrome-192x192.png
www/project_data/DepMap/df_cnv.csv
www/project_data/TARGET_missing_data.csv
www/project_data/TCGA-LUSC/df_survival_o.csv
www/project_data/TCGA-LUSC/*
www/project_data/TCGA-BRCA/df_gene.csv
www/project_data/TCGA-BRCA/df_gene_scale.csv
www/project_data/TCGA-BRCA/df_survival_o.csv
www/project_data/TCGA-LUAD/.df_met_gdc.csv.meMuf2
www/project_data/TCGA-LUAD/df_cnv_gdc.csv
www/project_data/TCGA-LUAD/df_cnv_scale_gdc.csv
www/project_data/TCGA-LUAD/df_gene_977_t.tsv
www/project_data/TCGA-LUAD/df_gene_gdc.csv
www/project_data/TCGA-LUAD/df_gene_scale_gdc.csv
www/project_data/DepMap/DepMap-Drug.csv
.Rhistory
