
.DS_Store
basic_scripts/TCGA-LGG
basic_scripts/TCGA-COAD

basic_scripts/tcga_projects.csv
basic_scripts/TCGA-*
basic_scripts/TARGET-*
.DS_Store
basic_scripts/.Rhistory
.DS_Store
*.maf
basic_scripts/MANIFEST.txt
project_data/TCGA-BRCA/df_gene.csv
project_data/TCGA-BRCA/df_gene_scale.csv
project_data/TCGA-BRCA/df_snv_class_muse.csv
project_data/TCGA-BRCA/df_snv_class_mutect.csv
project_data/TCGA-BRCA/df_snv_class_somaticsniper.csv
project_data/TCGA-BRCA/df_snv_class_varscan.csv
project_data/TCGA-BRCA/df_snv_type_muse.csv
project_data/TCGA-BRCA/df_snv_type_mutect.csv
project_data/TCGA-BRCA/df_snv_type_somaticsniper.csv
project_data/TCGA-BRCA/df_snv_type_varscan.csv
project_data/TCGA-BRCA/df_survival.csv
project_data/TCGA-LUAD/df_gene.csv
project_data/TCGA-LUAD/df_gene_scale.csv
project_data/TCGA-LUAD/df_snv_class_muse.csv
project_data/TCGA-LUAD/df_snv_class_mutect.csv
project_data/TCGA-LUAD/df_snv_class_somaticsniper.csv
project_data/TCGA-LUAD/df_snv_class_varscan.csv
project_data/TCGA-LUAD/df_snv_type_muse.csv
project_data/TCGA-LUAD/df_snv_type_mutect.csv
project_data/TCGA-LUAD/df_snv_type_somaticsniper.csv
project_data/TCGA-LUAD/df_snv_type_varscan.csv
project_data/TCGA-LUAD/df_survival.csv
project_data/TCGA-LUAD/df_cnv.csv
project_data/TCGA_LUSC/df_cnv.csv
project_data/TCGA_LUSC/df_cnv_scale.csv
project_data/TCGA_LUSC/df_gene.csv
project_data/TCGA_LUSC/df_gene_scale.csv
project_data/TCGA_LUSC/df_mir.csv
project_data/TCGA_LUSC/df_mir_scale.csv
project_data/TCGA_LUSC/df_snv_class_muse.csv
project_data/TCGA_LUSC/df_snv_class_mutect.csv
project_data/TCGA_LUSC/df_snv_class_somaticsniper.csv
project_data/TCGA_LUSC/df_snv_class_varscan.csv
project_data/TCGA_LUSC/df_snv_type_muse.csv
project_data/TCGA_LUSC/df_snv_type_mutect.csv
project_data/TCGA_LUSC/df_snv_type_somaticsniper.csv
project_data/TCGA_LUSC/df_snv_type_varscan.csv
project_data/TCGA_LUSC/df_survival.csv
project_data/TCGA-LUAD/df_mir_scale.csv
project_data/TCGA-LUAD/df_mir.csv
project_data/TCGA-LUAD/df_cnv_scale.csv
project_data/TCGA-LUSC/df_cnv.csv
project_data/TCGA-LUSC/df_cnv_scale.csv
project_data/TCGA-LUSC/df_gene.csv
project_data/TCGA-LUSC/df_gene_scale.csv
project_data/TCGA-LUSC/df_mir.csv
project_data/TCGA-LUSC/df_mir_scale.csv
project_data/TCGA-LUSC/df_snv_class_muse.csv
project_data/TCGA-LUSC/df_snv_class_mutect.csv
project_data/TCGA-LUSC/df_snv_class_somaticsniper.csv
project_data/TCGA-LUSC/df_snv_class_varscan.csv
project_data/TCGA-LUSC/df_snv_type_muse.csv
project_data/TCGA-LUSC/df_snv_type_mutect.csv
project_data/TCGA-LUSC/df_snv_type_somaticsniper.csv
project_data/TCGA-LUSC/df_snv_type_varscan.csv
project_data/TCGA-LUSC/df_survival.csv
basic_scripts/eVITTA_test/df_design_all.rds
basic_scripts/eVITTA_test/df_design_gender.rds
basic_scripts/eVITTA_test/df_gene_all.rds
basic_scripts/eVITTA_test/df_gene_gender.rds
basic_scripts/eVITTA_test/coefs.rds
basic_scripts/eVITTA_test/degs.rds
basic_scripts/eVITTA_test/degss.rds
basic_scripts/TCGA-BRCA
basic_scripts/TCGA-CHOL
basic_scripts/TCGA-UCEC
inc/project_data/project_name.csv
inc/project_data/TCGA-LUAD/df_cnv.csv
inc/project_data/TCGA-LUAD/df_cnv_scale.csv
inc/project_data/TCGA-LUAD/df_gene.csv
inc/project_data/TCGA-LUAD/df_gene_scale.csv
inc/project_data/TCGA-LUAD/df_mir.csv
inc/project_data/TCGA-LUAD/df_mir_scale.csv
inc/project_data/TCGA-LUAD/df_snv_class_muse.csv
inc/project_data/TCGA-LUAD/df_snv_class_mutect.csv
inc/project_data/TCGA-LUAD/df_snv_class_somaticsniper.csv
inc/project_data/TCGA-LUAD/df_snv_class_varscan.csv
inc/project_data/TCGA-LUAD/df_snv_type_muse.csv
inc/project_data/TCGA-LUAD/df_snv_type_mutect.csv
inc/project_data/TCGA-LUAD/df_snv_type_somaticsniper.csv
inc/project_data/TCGA-LUAD/df_snv_type_varscan.csv
inc/project_data/TCGA-LUAD/df_survival.csv
inc/project_data/TCGA-LUSC/df_cnv.csv
inc/project_data/TCGA-LUSC/df_cnv_scale.csv
inc/project_data/TCGA-LUSC/df_gene.csv
inc/project_data/TCGA-LUSC/df_gene_scale.csv
inc/project_data/TCGA-LUSC/df_mir.csv
inc/project_data/TCGA-LUSC/df_mir_scale.csv
inc/project_data/TCGA-LUSC/df_snv_class_muse.csv
inc/project_data/TCGA-LUSC/df_snv_class_mutect.csv
inc/project_data/TCGA-LUSC/df_snv_class_somaticsniper.csv
inc/project_data/TCGA-LUSC/df_snv_class_varscan.csv
inc/project_data/TCGA-LUSC/df_snv_type_muse.csv
inc/project_data/TCGA-LUSC/df_snv_type_mutect.csv
inc/project_data/TCGA-LUSC/df_snv_type_somaticsniper.csv
inc/project_data/TCGA-LUSC/df_snv_type_varscan.csv
inc/project_data/TCGA-LUSC/df_survival.csv
project_data/project_name.csv
project_data/depmap/df_gene.csv
project_data/depmap/df_gene.csv
basic_scripts/df_gene.csv
project_data/DepMap/df_snv_class.csv
.DS_Store

www/project_data/DepMap/DepMap-CRISPR.csv
www/project_data/DepMap/df_gene.csv
www/project_data/DepMap/df_gene_scale.csv
www/project_data/TCGA-LUAD/df_cnv.csv
www/project_data/TCGA-LUAD/df_cnv_scale.csv
www/project_data/TCGA-LUAD/df_gene.csv
www/project_data/TCGA-LUAD/df_gene_scale.csv
www/project_data/TCGA-LUAD/df_mir.csv
www/project_data/TCGA-LUAD/df_mir_scale.csv
www/project_data/TCGA-LUAD/df_snv_class_muse.csv
www/project_data/TCGA-LUAD/df_snv_class_mutect.csv
www/project_data/TCGA-LUAD/df_snv_class_somaticsniper.csv
www/project_data/TCGA-LUAD/df_snv_class_varscan.csv
www/project_data/TCGA-LUAD/df_snv_type_muse.csv
www/project_data/TCGA-LUAD/df_snv_type_mutect.csv
www/project_data/TCGA-LUAD/df_snv_type_somaticsniper.csv
www/project_data/TCGA-LUAD/df_snv_type_varscan.csv
www/project_data/TCGA-LUAD/df_survival.csv
www/project_data/TCGA-LUAD/df_survival_o.csv
www/project_data/TCGA-LUSC/df_cnv.csv
www/project_data/TCGA-LUSC/df_cnv_scale.csv
www/project_data/TCGA-LUSC/df_gene.csv
www/project_data/TCGA-LUSC/df_gene_scale.csv
www/project_data/TCGA-LUSC/df_mir.csv
www/project_data/TCGA-LUSC/df_mir_scale.csv
www/project_data/TCGA-LUSC/df_snv_class_muse.csv
www/project_data/TCGA-LUSC/df_snv_class_mutect.csv
www/project_data/TCGA-LUSC/df_snv_class_somaticsniper.csv
www/project_data/TCGA-LUSC/df_snv_class_varscan.csv
www/project_data/TCGA-LUSC/df_snv_type_muse.csv
www/project_data/TCGA-LUSC/df_snv_type_mutect.csv
www/project_data/TCGA-LUSC/df_snv_type_somaticsniper.csv
www/project_data/TCGA-LUSC/df_snv_type_varscan.csv
www/project_data/TCGA-LUSC/df_survival.csv
www/project_data/DepMap/df_snv_class.csv
www/project_data/TCGA-LUAD/df_snv_class_977.csv
cox_dm
www/favicon.ico
www/favicon-32x32.png
www/favicon-16x16.png
www/apple-touch-icon.png
www/android-chrome-512x512.png
www/android-chrome-192x192.png
www/project_data/DepMap/df_cnv.csv
www/project_data/TCGA-LUSC/df_survival_o.csv
www/project_data/TCGA-LUSC/*
www/project_data/TCGA-BRCA/df_gene.csv
www/project_data/TCGA-BRCA/df_gene_scale.csv
www/project_data/TCGA-BRCA/df_survival_o.csv
www/project_data/TCGA-LUAD/.df_met_gdc.csv.meMuf2
www/project_data/TCGA-LUAD/df_cnv_gdc.csv
www/project_data/TCGA-LUAD/df_cnv_scale_gdc.csv
www/project_data/TCGA-LUAD/df_gene_977_t.tsv
www/project_data/TCGA-LUAD/df_gene_gdc.csv
www/project_data/TCGA-LUAD/df_gene_scale_gdc.csv
www/project_data/DepMap/DepMap-Drug.csv
www/site.webmanifest
.Rhistory

www/project_data/TCGA-LUAD/df_gene_scale_bu.csv
.Rproj.user
www/project_data/DepMap/df_proteomic.csv
www/project_data/DepMap/df_proteomic_scale.csv
www/project_data/DepMap/df_snv_type.csv
www/project_data/TCGA-LUAD/df_rrpa.csv
www/project_data/TCGA-LUAD/df_met.csv
www/project_data/TCGA-LUAD/df_met_scale.csv
www/project_data/TCGA-LUAD/df_rrpa_scale.csv
www/help_images/*
www/help.pptx
www/help.Rmd
www/help.html
www/help.css
www/project_data/figures.Rmd
www/project_data/DepMap/DepMap-RNAi.csv
www/tmp/FigureL1.png
www/tmp/FigureL2.png
www/tmp/FigureL2.png
www/tmp/FigureL1.png
www/project_data/figures.Rmd
www/project_data/DepMap/DepMap-RNAi.csv
www/help_images/microRNA/2_miR-31-5p_3p.png
www/help_images/microRNA/2_miR-31-5p_1.png
www/help_images/microRNA/2_miR-31-3p_1.png
www/help_images/microRNA/1_miR-449b-5p.png
www/help_images/microRNA/1_miR-449a.png
www/help_images/microRNA/1_miR-34a_vs_449b-5p.png
www/help_images/microRNA/1_miR-34a_vs_449a.png
www/help_images/microRNA/1_miR-34a-5p_2.png
www/help_images/microRNA/1_miR-34a-5p_1.png
www/help_images/bu/34_hyp_cc_1.png
www/help_images/bu/31_egfr10b5b.png
www/help_images/bu/31_egfr10b4b.png
www/help_images/bu/31_egfr10b3b.png
www/help_images/bu/31_egfr10b2.png
www/help_images/bu/31_egfr10b1.png
www/help_images/35_vhl_hif1a.png
www/help_images/35_hyp_cdk2_7b.png
www/help_images/35_hyp_cdk2_7a.png
www/help_images/35_hyp_cdk2_6b.png
www/help_images/35_hyp_cdk2_6a.png
www/help_images/35_hyp_cdk2_5c.png
www/help_images/35_hyp_cdk2_5b.png
www/help_images/35_hyp_cdk2_4b.png
www/help_images/35_hyp_cdk2_4.png
www/help_images/35_hyp_cdk2_2c.png
www/help_images/35_hyp_cdk2_2b.png
www/help_images/35_hyp_cdk2_2.png
www/help_images/35_hyp_cdk2_1.png
www/help_images/34_hyp_cc_6b.png
www/help_images/34_hyp_cc_6a.png
www/help_images/34_hyp_cc_5c.png
www/help_images/34_hyp_cc_5b.png
www/help_images/34_hyp_cc_4b.png
www/help_images/34_hyp_cc_4.png
www/help_images/34_hyp_cc_2c.png
www/help_images/34_hyp_cc_2b.png
www/help_images/34_hyp_cc_2.png
www/help_images/33_stat125b3b.png
www/help_images/33_stat125b3a.png
www/help_images/33_stat125b2b.png
www/help_images/33_stat125b2a.png
www/help_images/33_stat125b1b.png
www/help_images/33_stat125b1a.png
www/help_images/33_jak125b6c.png
www/help_images/33_jak125b6b.png
www/help_images/33_jak125b6a.png
www/help_images/33_jak125b5c.png
www/help_images/33_jak125b5b.png
www/help_images/33_jak125b5a.png
www/help_images/33_jak125b4b.png
www/help_images/33_jak125b4.png
www/help_images/33_jak125b2b.png
www/help_images/33_jak125b2.png
www/help_images/33_jak125b1.png
www/help_images/32_p16mir34a6c.png
www/help_images/32_p16mir34a6b.png
www/help_images/32_p16mir34a6a.png
www/help_images/32_p16mir34a5c.png
www/help_images/32_p16mir34a5b.png
www/help_images/32_p16mir34a5a.png
www/help_images/32_p16mir34a4b.png
www/help_images/32_p16mir34a4.png
www/help_images/32_p16mir34a2b.png
www/help_images/32_p16mir34a2.png
www/help_images/32_p16mir34a1.png
www/help_images/31_mapk_315p.png
www/help_images/31_mapk_313p.png
www/help_images/31_egfr315b.png
www/help_images/31_egfr314b.png
www/help_images/31_egfr313b.png
www/help_images/31_egfr312.png
www/help_images/31_egfr311.png
www/help_images/31_egfr10b5a.png
www/help_images/31_egfr10b4a.png
www/help_images/31_egfr10b3b.png
www/help_images/31_egfr10b3a.png
www/help_images/31_egfr10b1b.png
www/help_images/30_kras4c.png
www/help_images/30_kras4b.png
www/help_images/30_kras4a.png
www/help_images/30_kras3.png
www/help_images/30_kras2.png
www/help_images/30_kras1b.png
www/help_images/30_kras1.png
www/help_images/29_men2.png
www/help_images/29_men1.png
www/help_images/28_inrf2.png
www/help_images/28_inrf1.png
www/help_images/27_cnrf2.png
www/help_images/27_cnrf1.png
www/help_images/26_tnf5b.png
www/help_images/26_tnf5a.png
www/help_images/26_tnf4b.png
www/help_images/26_tnf4.png
www/help_images/26_tnf2cor.png
www/help_images/26_tnf2b.png
www/help_images/26_tnf2.png
www/help_images/26_tnf1.png
www/help_images/25_tnf4.png
www/help_images/25_tnf2vio.png
www/help_images/25_tnf2.png
www/help_images/24_rela2vio.png
www/help_images/24_rela2.png
www/help_images/24_rela1b.png
www/help_images/24_rela1.png
www/help_images/23_slc6c.png
www/help_images/23_slc6b.png
www/help_images/23_slc6a.png
www/help_images/23_slc5c.png
www/help_images/23_slc5b.png
www/help_images/23_slc5a.png
www/help_images/23_slc4b.png
www/help_images/23_slc4.png
www/help_images/23_slc2cor.png
www/help_images/23_slc2b.png
www/help_images/23_slc2.png
www/help_images/23_slc1.png
www/help_images/22_nrf24b.png
www/help_images/22_nrf24.png
www/help_images/22_nrf22b.png
www/help_images/22_nrf22.png
www/help_images/22_nrf21.png
www/help_images/21_col4b.png
www/help_images/21_col4.png
www/help_images/21_col2b.png
www/help_images/21_col2.png
www/help_images/21_col1.png
www/help_images/20_APC4b.png
www/help_images/20_APC4.png
www/help_images/20_APC2b.png
www/help_images/20_APC2.png
www/help_images/20_APC1.png
www/help_images/19_130a4b.png
www/help_images/19_130a4.png
www/help_images/19_130a2b.png
www/help_images/19_130a2.png
www/help_images/19_130a1.png
www/help_images/18_EGFR3.png
www/help_images/18_EGFR2.png
www/help_images/18_EGFR1.png
www/help_images/17_RELA4b.png
www/help_images/17_RELA4.png
www/help_images/17_RELA3.png
www/help_images/17_RELA2b.png
www/help_images/17_RELA2.png
www/help_images/17_RELA1.png
www/help_images/16_visP5.png
www/help_images/16_visP4.png
www/help_images/16_visP3.png
www/help_images/16_visP2.png
www/help_images/16_visP1.png
www/help_images/15_joint3.png
www/help_images/15_joint2.png
www/help_images/15_joint1.png
www/help_images/14_y2.png
www/help_images/14_y1.png
www/help_images/14_x2.png
www/help_images/14_x1.png
www/help_images/14_tperm.png
www/help_images/14_tkm.png
www/help_images/14_tcga.png
www/help_images/14_gear.png
www/help_images/13_two3.png
www/help_images/13_two2.png
www/help_images/13_two1.png
www/help_images/13_two.png
www/help_images/12_single3b.png
www/help_images/12_single3a.png
www/help_images/12_single2g.png
www/help_images/12_single2f.png
www/help_images/12_single2e.png
www/help_images/12_single2d.png
www/help_images/12_single2c.png
www/help_images/12_single2b.png
www/help_images/12_single2a.png
www/help_images/12_single1e.png
www/help_images/12_single1d.png
www/help_images/12_single1c.png
www/help_images/12_single1b.png
www/help_images/12_single1a.png
www/help_images/12_single.png
www/help_images/11_dp4.png
www/help_images/10_dp3.png
www/help_images/09_dp2.png
www/help_images/08_dp1.png
www/help_images/07_dp.png
www/help_images/06_endpoint.png
www/help_images/05_no.png
www/help_images/04_censor.png
www/help_images/03_colond.png
www/help_images/02_colon.png
www/help_images/01_start.png
www/help.Rmd
www/help.pptx
www/help.html
www/help.css
